/*---------------------------- GENERELT START-------------------------*/
* {
    margin: 0;
    box-sizing: border-box;
}


img {
    width: 100%
}


h1 {
    font-family: 'Dancing Script', cursive;
}



p {
    font-family: 'Roboto Slab', serif;
}

#overskrift {
    font-size: 2.5em;
    margin-bottom: 10px;
    width: 100%;
}


#tekst {
    font-size: 1.1em;
}

/*---------------------------- GENERELT SLUT-------------------------*/





/*---------------------------- HEADER START-------------------------*/
a {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    background: darkgrey;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: inherit;
    margin-left: 40px;
}


nav {
    text-align: center;
    margin-bottom: 25px;
}


#header_overskrift {
    font-size: 4em;
    text-align: center;

}

#header_under {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 40px;
    margin-top: -6px;
}

/*---------------------------- HEADER SLUT -------------------------*/




/*---------------------------- FORSIDE START-------------------------*/
#forside_section {
    padding: 25px;
}

/*---------------------------- FORSIDE SLUT-------------------------*/






/*---------------------------- DESIGN START-------------------------*/
#header_design {
    border-bottom: 2px solid black;
}


#design_section,
#design_section2,
#design_section3,
#design_section4,
#design_section5,
#design_section6 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#design_section img {
    width: 50%;
    height: 50%;
}


#design_section2 img {
    width: 33%;
    height: 50%;
}

#design_section3 img {
    width: 30%;
    height: 50%;
}

#design_section5 img {
    width: 30%;
    height: 50%;
}

#design_section6 img {
    width: 30%;
    height: 50%;
    margin: 10px 10px;
}



/*---------------------------- DESIGN SLUT-------------------------*/


/*------------------------ DESIGN GUIDE START-----------------------*/

#design_guide {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#design_guide img {
    width: 25%;
}

h2 {
    width: 100%;
}

.logo,
.font,
.farver,
.billedestil {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.logo {
    flex-direction: row;
}


.font {
    flex-direction: column;
}

#dancing {
    margin: 20px 0;
}

#dancing p {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2rem;
}

#roboto {
    margin: 20px 0;
}

#roboto p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6 {
    width: 100px;
    height: 100px;
}


.color1 {
    border: 1px solid #000;
    background-color: #fff;
}

.color2 {
    background-color: #000;
    color: #fff;

}

.color3 {
    background-color: #7CB2C2;

}

.color4 {
    background-color: #F2DCB7;

}

.color5 {
    background-color: #FF7226;

}

.color6 {
    background-color: #B31009;

}


/*------------------------ DESIGN GUIDE SLUT-----------------------*/






/*------------------------  KODE START-----------------------*/
#header_design {
    border-bottom: 2px solid black;
}


#kode_section,
#kode_section2,
#kode_section3,
#kode_section4,
#kode_section5 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


#kode_section img {
    width: 60%;
    height: 50%;
}


#kode_section2 img {
    width: 60%;
    height: 50%;
}

#kode_section3 img {
    width: 70%;
    height: 50%;
}




/*------------------------  KODE SLUT-----------------------*/





/*------------------------ TEST START -----------------------*/

#test_section,
#lyd_test {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#lyd_test h1 {
    width: 100%;
    font-size: 2rem;
}

#test_section img {
    width: 50%;
    padding-top: 30px;
}



/*------------------------ TEST SLUT-----------------------*/
