/*---------------------------- GENERELT START-------------------------*/
* {
    margin: 0;
    box-sizing: border-box;
}


img {
    width: 100%
}


h1 {
    font-family: 'Dancing Script', cursive;
}



p {
    font-family: 'Roboto Slab', serif;
}

#overskrift {
    font-size: 2.5em;
    margin-bottom: 10px;
}


#tekst {
    font-size: 1.1em;
}

/*---------------------------- GENERELT SLUT-------------------------*/





/*---------------------------- HEADER START-------------------------*/
a {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    background: darkgrey;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: inherit;
    margin-left: 40px;
}


nav {
    text-align: center;
    margin-bottom: 25px;
}


#header_overskrift {
    font-size: 4em;
    text-align: center;

}

#header_under {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 40px;
    margin-top: -6px;
}

/*---------------------------- HEADER SLUT -------------------------*/




/*---------------------------- FORSIDE START-------------------------*/
#forside_section {
    padding: 25px;
}

/*---------------------------- FORSIDE SLUT-------------------------*/






/*---------------------------- DESIGN START-------------------------*/
#header_design {
    border-bottom: 2px solid black;
}


#design_section,
#design_section2,
#design_section3,
#design_section4,
#design_section5 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#design_section img {
    width: 50%;
    height: 50%;
}


#design_section2 img {
    width: 33%;
    height: 50%;
}

#design_section3 img {
    width: 30%;
    height: 50%;
}

#design_section5 img {
    width: 30%;
    height: 50%;
}




/*---------------------------- DESIGN SLUT-------------------------*/


/*------------------------ DESIGN GUIDE START-----------------------*/

#design_guide {
    padding: 20px;
}

#design_guide img {
    width: 100%;
}

.logo,
.font,
.farver,
.billedestil {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.logo {
    flex-direction: column;
}



/*------------------------ DESIGN GUIDE SLUT-----------------------*/
