* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    padding-top: 13vh;
}

/*
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Slab', serif;
*/


h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}


p {
    font-family: 'Roboto Slab', serif;
}




/********************************** NAVIGATION ********************************/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    background: #7CB2C2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
}

/*
.logo {
    color: #FFF9F0;
    text-transform: uppercase;
    font-family: 'oswald', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
}
*/

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links a {
    color: #FFF9F0;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    font-size: 1.07rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-links li {
    list-style: none;
}

nav-links a:hover {
    color: rgb(81, 85, 115);
    background-color: #FFF9F0;
}


.burger {
    display: none;
}

.burger div {
    background-color: #FFF9F0;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all .3s ease;
}



/********************************** NAV ANIMATION ********************************/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/***************************************** MEDIA Q ********************************/
/******************** NAV ***************/
@media screen and (max-width:1250px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 70vh;
        top: 13vh;
        background: #7CB2C2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }

    .nav-links li {
        opacity: 0;
        /* skal benyttes */
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%) !important;
        opacity: 95%;
        z-index: 1;
    }

}

/***************************************** FOOTER ********************************/

footer {
    background: #7CB2C2;
    /*    position: fixed;*/
    width: 100vw;
    bottom: 0;
    padding: 20px;
}

.fcontainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: auto;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
}

.box2 img {
    height: 30px;
    width: 50px;
}

.box2,
.box1,
.box3 {
    justify-self: center;
}

.footer-links a {
    color: #FFF9F0;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    font-size: 1.07rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-links li {
    list-style: none;

}


.box3 p {
    color: white;
}

@media screen and (max-width:1024px) {
    .fcontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

/***************************************** FORSIDE ********************************/

#splash img {
    width: 100%;
}


#splash_box {
    padding: 20px;
    padding-bottom: 40px;
    width: 60%;
    position: relative;
    left: 60px;
}




#forside_billeder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /*    grid-template-columns: repeat(3, 1fr);*/

    grid-auto-rows: 1fr;
    grid-gap: 10px;
    padding: 10px;
    padding-bottom: 40px;
    justify-items: center;

}


#forside_billeder img {
    object-fit: cover;

}


.banan {
    grid-column: 1/2;
    grid-row: 1/3;
}

.tofu {
    grid-column: 2/3;
    grid-row: 1/3;
}

.hummus {
    grid-column: 3/4;
    grid-row: 1/3;
}


.box {
    width: 23vw;
    height: 35vh;

}


.logo-nav img {
    width: 30%;
    margin-top: 5px;
}

@media screen and (max-width:1024px) {
    #forside_billeder img {
        width: 50%;
        margin-left: 60px;
    }

    #forside_billeder h3 {
        margin-left: 60px;
    }
}

/***************************************** OPSKRIFT-SIDE ********************************/

/*Her sørges der for at filter-menuen centereres og at den ikke ligger oppe under logoet*/
#filterBtns {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

/*Her styles den enkelte knap til at have luft omkring sig*/
#filterBtns button {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500;
    width: 125px;
    padding: 20px;
    margin: 5px;
    background-color: #fff;
    border: 2px solid #7CB2C2;
    color: #7CB2C2;
    transition: .35s ease-in;
    border-radius: 50px 15px;
}

#filterBtns button:hover {
    background-color: #7CB2C2;
    color: #FFF9F0;
    border: 2px solid #7CB2C2;

}

@media screen and (max-width:1024px) {
    #filterBtns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

/*Menuoverskrit styles til at have omkringliggende luft, samt indrykning */
.menu {
    padding: 2vh;
    padding-left: 10vw;
}

/*Alt indholdet styles med grid for en responsiv opsætning og der sørges for omk*/
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 240px;
    margin-bottom: 40px;
}

/*Her sørges der for at billederne tilpasses til den samme størrelse*/
.content img {
    object-fit: cover;
    width: 100%;
    height: 95%;
}

/*Mere padding/luft omkring*/
#info {
    padding-bottom: 10px;
}

/*Definering af font samt font-størrelse*/
#info h2 {
    font-family: 'Roboto-slab', serif;
    font-size: 1.2rem;

}






/***************************************** BLOG-SIDE ********************************/

#blog {

    padding: 6vh;
    margin-top: 6vh;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
}


#blog1 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}


#blog2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;

}


#blog p {
    width: 56%;
    margin-right: 20px;
}


#blog1 img,
#blog2 img {
    width: 40%;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 50vh;
    object-fit: cover;
}




@media screen and (max-width:1024px) {
    #blog1 {
        display: grid;
    }

    #blog1 img,
    #blog2 img {
        min-width: 100%;
    }

    #blog1 p,
    #blog2 p {
        width: 90%;
    }
}


.parallax {
    background-image: url("parallax_billede.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/***************************************** OM-SIDE ********************************/

#om_section {
    padding: 6vh;
    max-width: 1200px;
    margin: 0 auto;
}


#ommig {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}



#ommig p {
    width: 56%;
    margin-right: 20px;
}


#ommig img {
    width: 40%;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 50vh;
    object-fit: cover;
}




@media screen and (max-width:1024px) {
    #ommig {
        display: grid;
    }

    #ommig img {
        min-width: 100%;
    }

    #ommig p {
        width: 90%;
    }
}

/***************************************** SINGLEVIEW-SIDE ********************************/

#single_view {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 1200px;
}

#opskrifter_1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

#opskrifter_2 {
    line-height: 1.6;
}

#frem {
    padding-left: 20px;
    margin-top: 30px;
}

#single_view h2 {

    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}

#symboler h3 {
    margin-top: 20px;
}

#frem h3 {
    font-family: 'Roboto Slab', sans-serif;
}

#liste,
#frem h3,
#symboler h3 {
    font-family: 'Roboto Slab', sans-serif;
}


#symboler {
    width: 49%;
    padding: 20px;
}

#liste {
    display: flex;
    flex-wrap: wrap;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
}

.dot1 {
    background-color: #F2DCB7;
}

.dot2 {
    background-color: #FF7226;

}

.dot3 {
    background-color: #B31009;

}

#symboler img {
    width: 8%;
}

#single_view button {
    margin-top: 40px;
    margin-bottom: 20px;
}


/*Her styles den enkelte knap til at have luft omkring sig*/
#single_view button {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500;
    width: 125px;
    padding: 20px;
    margin: 5px;
    background-color: #fff;
    border: 2px solid #7CB2C2;
    color: #7CB2C2;
    transition: .35s ease-in;
    border-radius: 50px 15px;
    margin: 40px 0;
    margin-left: 20px;
}

#single_view button:hover {
    background-color: #7CB2C2;
    color: #FFF9F0;
    border: 2px solid #7CB2C2;

}
